@section Scripts{
    <script src="~/client/main.ccc52e379fae5276.js"></script>
    <script src="~/client/polyfills.51a46ea02b986886.js"></script>
    <script src="~/client/runtime.726a12cf02269fc9.js" asp-append-version="true"></script>
}
@section head{
    <link href="~/client/styles.ef46db3751d8e999.css" rel="stylesheet" />
}

@* <app-root></app-root> *@



@* @{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
 *@
